* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}

html,
body {
    height: 100%;
    width: 100%;
}

/* 
#parent{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 150px;
    width: 150px;
    background-color: crimson;
    border: 2px solid #ffff;
} */

/* #parent {
    min-height: 100%;
    width: 100%;
    background-color: crimson;
}

#child1 {
    height: 100vh;
    width: 60%;
    background-color: lightblue;
    border: 6px solid black;
}

#child2 {
    height: 100vh;
    width: 60%;
    background-color: lightgreen;
    border: 6px solid black;
} */

#box{
    height: 500px;
    width: 500px;
    background-color: royalblue;
}

@media (max-width:600px) {
    #box{
        height: 300px;
        width: 300px;
        background-color: crimson;
        border-radius: 50%;
    }
}