*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "work sans";
}

html,body{
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 150px;
    width: 150px;
    background-color: crimson;
    border: 2px solid #ffff;
}