* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* p {
    width: fit-content;
    position: relative;
    background-color: green;
}

p::before {
    position: absolute;
    top: 100%;
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
}

p::after {
    position: absolute;
    left: 0;
    top: 100%;
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
} */

/* h1::first-line{
    color: red;
} */

/* h1::first-letter{
    font-size: 120px;
    color: red;
} */

h1::selection{
    background-color: green;
}