*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #F8F7F4;
}

#page1{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#nav{
    height: 70px;
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#nav-part1{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part1 h4{
    font-size: 15px;
    font-weight: 500;
}

#nav img{
    height: 50px;
}

#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-part2 button{
    padding: 10px 14px;
    font-weight: 600;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    margin: 0 12px; 
}

#nav-part2 button:nth-child(1){
    background-color: transparent;
    color: #000;
}


#content{
    height: calc(100% - 70px);
    /* background-color: crimson; */
    padding-top: 100px;
}

#content h3{
    background-color: #F2B0EA;
    padding: 8px 16px;
    border-radius: 50px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-family: "Source Serif 4";
    font-weight: 100;
}

#content h1{
    font-size: 60px;
    text-align: center;
    margin: 30px 0;
    font-family: "Source Serif 4";
    font-weight: 100;
    line-height: 60px;
}

#content h4{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

#content button{
    padding: 14px 20px;
    font-weight: 600;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
    margin: 30px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}






