* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: gray; */
}

#nav {
    height: 60px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0px 30px;
}

#nav h4 {
    font-size: 20px;
    font-weight: 600;
}

#nav i {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}

#center {
    width: 100%;
    /* background-color: red; */
    padding: 10px 80px;
}

#center h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 85px;
}

#center-in {
    height: 160px;
    /* background-color: red; */
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#center-in p {
    font-size: 22px;
    font-weight: 600;
    line-height: 32px;
}

#right {
    width: 20%;
}

.elem {
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 14px 0px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i {
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}

.elem a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.elem:hover {
    background-color: rgb(238, 211, 211);
}

.elem:hover i {
    opacity: 1;
}

.elem:hover a {
    text-decoration: underline;
}

#bottom{
    height: 74px;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1702140944199-5c321e5d5798?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 46%;
}