*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: #000;
}

#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(120, 170, 246);
}

#page2 h1{
    font-size: 42vw;
    font-weight: 600;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: #000;
}