* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
}

/* 
#main{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 50% 50%;
}

#left{
    background-color: red;
}

#right{
    background-color: blue;
} */

/* #main {
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.elem {
    background-color: crimson;
    border: 3px solid black;
}

#elem1 {
    background-color: coral;
    grid-row: 1 / 3;
    grid-column: 1 / 4;
} */

#main {
    width: 100%;
    height: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}

#left-top-left {
    /* background-color: crimson; */
    padding: 40px;
}

#square {
    height: 16px;
    width: 16px;
    rotate: 45deg;
    background-color: black;
}


#left-top-right {
    /* background-color: blueviolet; */
    justify-self: right;
    padding: 25px;
    text-align: right;
}

#left-top-right h4 {
    /* background-color: red; */
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 500;
}

#left-top-right h5 {
    /* background-color: red; */
    font-size: 12px;
    font-weight: 500;
    color: #333;
}
#left-top-right h6 {
    display: none;
}

#left-center {
    /* background-color: royalblue; */
    grid-column: 1 / 3;
    padding: 20px;
}

#left-center h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    line-height: 5.8vw;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

#left-center h1:nth-child(2n) {
    /* background-color: red; */
    text-align: center;
}

#left-bottom {
    /* background-color: chartreuse; */
    grid-column: 1 / 3;
    padding: 20px;
}

#left-bottom p {
    width: 70%;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

#right {
    /* background-color: aqua; */
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 20px;
    padding-right: 90px;
}

#right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

#arrow {
    position: absolute;
    top: 50%;
    left: 51%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    color: #fff;
    padding: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#arrow i {
    font-size: 40px;
    font-weight: 100;
}

@media (max-width:600px) {
    #main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 30% 10%;
    }

    #left-top-left {
        /* background-color: crimson; */
        padding: 20px;
    }

    #square {
        height: 12px;
        width: 12px;
        rotate: 45deg;
        background-color: black;
    }


    #left-top-right {
        /* background-color: blueviolet; */
        /* justify-self: right; */
        padding: 20px;
        text-align: right;
    }

    #left-top-right h4 {
        display: none;
    }

    #left-top-right h5 {
        display: none;
    }

    #left-top-right h6 {
        display: initial;
        font-size: 20px;
    }

    #left-center {
        /* background-color: royalblue; */
        /* grid-column: 1 / 3; */
        padding: 15px;
    }

    #left-center h1 {
        font-size: 16vw;
        line-height: 14vw;
    }

    #left-center h1:nth-child(2n) {
        /* background-color: red; */
        text-align: right;
    }

    #left-bottom {
        /* background-color: chartreuse; */
        grid-column: 1 / 3;
        padding: 5px 20px;
    }

    #left-bottom p {
        width: 90%;
        font-size: 16px;
    }

    #right video {
        height: 50vh;
        object-fit: cover;
        border-radius: 3px;
    }

    #arrow {
        top: 48%;
        left: 40%;
        padding: 10px;
        rotate: 90deg;
    }

    #arrow i {
        font-size: 40px;
        font-weight: 100;
    }

    #right {
        /* background-color: aqua; */
        grid-column: 1 /4;
        grid-row: 4;
        padding: 20px;
        /* padding-right: 90px; */
    }

}