* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}

#nav {
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    /* font-size: 16px; */
    /* background-color: yellow; */
    height: 100%;
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "monument";
    font-size: 36px;
    letter-spacing: -1.5px;
}

#nav h2 {
    /* background-color: yellow; */
    height: 100%;
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 18px;
    font-weight: 700;
}

#nav :nth-last-child(1) {
    width: 10%;
    /* background-color: red; */
}

#center {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    background-color: blue;
    position: relative;
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 2vw;
    color: #fff;
    /* background-color: rgba(0,0,0,0.154);
    backdrop-filter: blur(2px); */
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 4vw;
    /* font-weight: 100; */
    mix-blend-mode: difference;
}

#over1 h2 {
    font-size: 1vw;
    padding: 2vw 2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h2 {
    font-size: 1.5vw;
    font-weight: 500;
}

#over2 img {
    height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none; */
    height: 95%;
    border-radius: 50%;
    width: 14%;
    object-fit: cover;
    object-position:  30% 30%;
    margin: 1vw;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}
