* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}

html,
body {
    height: 100%;
    width: 100%;
}

/* #box {
    margin-top: 10%;
    height: 250px;
    width: 250px;
    background-color: crimson;
    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes move {
    from{
        left: 0;
        background-color: red;
        rotate: 0;
    }

    to{
        left: 60%;
        background-color: blue;
        rotate: 360deg;
    }
    
} */

/* img{
    height: 300px;
    position: absolute;
    animation-name: chutki;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes chutki {
    from{
        top: 0;
        left: 0;
    }

    to{
        left: 80%;
        top: 50%;
    }

    0%{
        left: 0;
        top: 0;
        rotate: 0deg;
    }

    50%{
        left: 80%;
        top: 0;
        rotate: 0deg;
    }

    100%{
        left: 80%;
        top: 50%;
        rotate: 360deg;
    }
    
} */

#box1 {
    height: 300px;
    width: 300px;
    background-color: crimson;
    position: relative;
    animation-name: box-anime;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#box2 {
    height: 300px;
    width: 300px;
    background-color: lightgreen;
    position: relative;
    animation-name: box-anime;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes box-anime {
    from {
        left: 0;
    }

    to {
        left: 75%;
    }
}