* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(184, 250, 134);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(114, 248, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background: linear-gradient(lightblue, royalblue);
}